<% sweets.each do |sweet| %>
  <tr>
    <td><%= link_to sweet.name, sweet_path(sweet.id) %></td>
    <td><%= sweet.sweet_comments.count %>件</td>
    <!-- ユーザーがログインしてたら -->
    <% if user_signed_in? %>
      <!-- いいね表示 -->
      <% if sweet.favorited_by?(current_user) %>
      <td>
        <!-- いいねあるとき -->
        <%= link_to sweet_favorites_path(sweet), method: :delete do %>
        <div class="glyphicon glyphicon-heart" aria-hidden="true">
          <%= sweet.favorites.count %>
        </div>
        <% end %>
      </td>
      <% else %>
      <td>
        <!-- いいねないとき -->
        <%= link_to sweet_favorites_path(sweet), method: :post do %>
        <div class="glyphicon glyphicon-heart-empty" aria-hidden="true">
          <%= sweet.favorites.count %>
        </div>
        <% end %>
      </td>
      <% end %>
    <% else %><!-- ログインしてないとき -->
      <td><%= sweet.favorites.count %>いいね</td>
    <% end %>
  </tr>
<% end %>