<div class="container">
  <div class="row">
    <!-- カテゴリとランキングはrender -->
    <div class="sweet-body">
      <div class="col-xs-3">
        <div class="favorite-ranking">
          <!-- ランキング -->
          <h2>いいねランキング</h2>
          <table class="">
            <thead>
              <tr>
                <th class="">タイトル</th>
                <th class="">コメント数</th>
              </tr>
            </thead>
            <tbody>
              <%= render 'sweets/table', sweets: @all_ranks %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-7">
      <div class="sweets-index">
        <!-- 一覧部分 -->
        <h2 class="index-title">タイムライン</h2>
        <table class="">
          <thead>
            <tr>
              <th class=""><%= sort_link(@q, :name, "タイトル") %></th>
              <th class="">コメント数</th>
            </tr>
          </thead>
          <tbody>
            <%= render 'sweets/table', sweets: @sweets %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-2">
      <%= render 'sweets/search', q: @q %>
    </div>
  </div>
  <!-- ユーザーがログインしてたら -->
  <% if user_signed_in? %>
    <%= link_to "＋", new_sweet_path %>
  <% else %>
  <% end %>
</div>