<h2>おかし投稿</h2>
<%= form_for(@sweet, url: sweets_path) do |f| %>
  <div class="">
    <!-- f.label :name, "おかし名" -->
    <%= f.text_field :name, placeholder:"おかし名" %>
  </div>
  <div class="">
    <!-- f.label :opinion, "おかし説明" -->
    <%= f.text_area :opinion, placeholder:"おかし説明" %>
  </div>
  <div class="">
    <%= f.attachment_field :sweet_image %>
  </div>
  <%= f.submit '登録' %>
<% end %>